.container {
    background: var(--cinza-escuro);
    color: var(--branco);
    min-height: 100vh;
    padding: 20px 40px;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--verde);
    padding-bottom: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: opacity 0.2s;
}

.info {
    font-size: 22px;
    font-weight: bold;
}

.sair {
    background: var(--vermelho);
    border: 2px solid var(--vermelho);
    color: var(--branco);
    height: 30px;
    padding: 8px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.sair:hover {
    border: 2px solid var(--branco);
    transition: all 0.2s;
}

.sair img {
    width: 18px;
    height: 18px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.tab {
    padding: 15px 20px;
    border: 2px solid var(--cinza);
    border-radius: 10px;
    background: transparent;
    color: var(--branco);
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    display: inline-block;
}


.active {
    background: var(--verde);
    border-color: var(--branco);
}