.main {
  background: var(--cinza-escuro);
  min-height: calc(100vh - 300px);
  padding: 40px 0;
  color: var(--branco);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  display: flex;
  gap: 40px;
  background-color: var(--cinza-escuro);
  border-radius: 20px;
  padding: 30px;
  border: 1px solid var(--branco);
}

.leftSection {
  flex: 1;
  padding-right: 20px;
}

.rightSection {
  flex: 1;
  padding: 20px;
  background: var(--verde);
  border-radius: 15px;
}

.leftSection h2,
.rightSection h2 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: 30px;
  margin-top: 20px;
  position: relative;
}

.teamGrid .teamMember:nth-child(3) {
  grid-column: 1 / -1;
  justify-self: center;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.memberImage {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.teamMember span {
  font-size: 16px;
  font-weight: 500;
}

.description {
  padding: 20px;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .teamGrid {
    grid-template-columns: 1fr;
  }

  .leftSection,
  .rightSection {
    width: 100%;
    padding: 20px;
  }
}