.container {
    background: var(--cinza-escuro);
    color: var(--branco);
    min-height: 100vh;
    padding: 20px 40px;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--verde);
    padding-bottom: 10px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: opacity 0.2s;
}

.info {
    font-size: 22px;
    font-weight: bold;
}

.sair {
    background: var(--vermelho);
    border: 2px solid var(--vermelho);
    color: var(--branco);
    height: 30px;
    padding: 8px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.sair:hover {
    border: 2px solid var(--branco);
    transition: all 0.2s
}

.sair img {
    width: 18px;
    height: 18px;
}

.containerPagamento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 20px;
}

.containerMetodos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 700px;
}

.metodos {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border: 2px solid var(--branco);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    background: var(--cinza);
}

.metodos input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--branco);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: all 0.1s;
}

.metodos input[type="radio"]:checked {
    background: var(--verde);
    border-color: var(--verde);
}

.metodos img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.metodos span {
    font-weight: bold;
}

.metodos:hover {
    border: 2px solid var(--verde);
    background-color: #5f5f5d;
}

.containerTotal {
    margin-bottom: 20px;
}

.containerTotal p {
    margin: 4px 0;
}

.desconto {
    font-size: 14px;
    color: #ccc;
}


.button {
    width: 100%;
    max-width: 400px;
    padding: 12px 0;
    align-self: center;
    background: var(--verde);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: var(--branco);
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    background: var(--verde-escuro);
}