.footer {
    background: #000;
    color: #fff;
    padding: 0 0 32px 0;
    position: relative;
}

.contentWrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.leftBox {
    width: 210px;
    min-width: 210px;
    max-width: 210px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 18px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    transition: transform 0.2s;
}

.logo:hover {
    transform: rotate(-2.3deg) scale(1.05);
}

.logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    transition: filter 0.4s;
}

.logo:hover img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(47%) saturate(699%) hue-rotate(121deg) brightness(96%) contrast(90%);
}

.logo h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    transition: all 0.4s ease;
}

.rightBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px 0 0 32px;
}

.topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centerContent {
    display: flex;
    align-items: center;
    gap: 32px;
}

.sac {
    font-weight: 700;
    font-size: 1rem;
}

.link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 16px;
    position: relative;
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--verde);
}

.link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--verde);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.link:hover::after {
    width: 100%;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons a {
    position: relative;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
}

.icons a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--verde);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.icons a:hover::after {
    width: 100%;
}

.icons img {
    width: 26px;
    height: 26px;
    object-fit: contain;
    cursor: pointer;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

.icons a:hover img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(47%) saturate(699%) hue-rotate(121deg) brightness(96%) contrast(90%);
}

.line {
    width: 100%;
    max-width: 95%;
    height: 2px;
    background: #fff;
    opacity: 0.5;
    margin: 18px 0 0 0;
    border: none;
    border-radius: 1px;
}

.copy {
    margin-top: 16px;
    text-align: center;
    color: #aaa;
    font-size: 0.95rem;
}