.container {
  display: flex;
  height: 100vh;
  background: var(--cinza-escuro);
  justify-content: center;
  align-items: center;
}

.left,
.right {
  height: 550px;
}

.left {
  background: var(--branco);
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.right {
  background: var(--verde);
  color: var(--branco);
  width: 600px;
  padding: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 160px;
  height: auto;
  margin-bottom: 10px;
}

.text {
  width: 300px;
  height: auto;
  margin-top: 10px;
}

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-style: italic;
}

.subtitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 5px;
}

.header {
  position: absolute;
  top: 15px;
  left: 20px;
}

.backButton {
  background: none;
  color: var(--preto);
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.2s;
}

.backButton:hover {
  color: var(--verde);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.labelsES {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.input::placeholder {
  color: var(--verde);
}

.senhaContainer {
  position: relative;
}

.icone {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone img {
  width: 20px;
  height: 20px;
  display: block;
}

.button {
  background: var(--verde);
  color: var(--branco);
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border: 3px solid var(--branco);
  cursor: pointer;
  transition: 0.3s;
  width: 160px;
  display: block;
  margin: 0 auto;
}

.button:hover {
  background: var(--branco);
  color: var(--verde);
  border: 3px solid var(--preto);
}

.register {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.cadastrar {
  color: var(--branco);
  text-decoration: underline;
}

.pergunta {
  color: var(--preto);
}

.errorEemail {
  display: flex;
  gap: 85px;
}

.errorText {
  color: var(--preto);
  text-decoration: underline;
  font-size: 14.3px;
  margin: 0;
  text-align: center;
  font-weight: 600;
}